html(lang="fr")
  include ../partials/header.pug
  body
    h1 Qui prend quoi🎉
    h2 Créer un événement
    form(method="post" action="/party").newParty
      div.newParty__fields
        label(for="name") Nom de l'événement
        input(name="name" id="name" required minlength="3" placeholder="Nouvel an")
        label(for="author" required) Votre pseudo
        input(name="author" id="author" required minlength="3" placeholder="John")
        label(for="date") Date de l'événement
        input(name="date" id="date" type="date")
      button.button__form(type="submit") Créer