.newParty__fields {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;


  @include medium {
    display: grid;
    grid-template-columns: 175px 1fr;
    grid-gap: 5px;
    max-width: 500px;
  }

  label {
    @include medium {
      place-self: center end;
    }
    margin-top: 30px;
  }
  input{
    border-right: none;
    border-left: none;
    border-top: none;
  }
  
}
.party__bloc--one{
  border: 1px solid rebeccapurple;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  label{
    margin-top: 20px;
    margin-bottom: 8px;
  }
  input{
    border-right: none;
    border-left: none;
    border-top: none;
  }
  button{
    color: red;
  }

}

.items{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 5px;
}
