@import 'vendors/reset.scss';
@import 'config/medias.scss';
@import 'blocs/newParty.scss';
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,500,600,700,800&display=swap');

body{
  font-family: 'Baloo Chettan 2', sans-serif;
  h1{
    text-align: center;
  }
  h2{
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;

    .button__form{
      position: absolute;
      border: 1px solid black;
      background: none;
      border-radius: 10px;
      top: 70%;
      left: 50%;
      transform: translate(-70%, -50%)
    }
  }
}

